{% import "gameon/templates/templates.jinja2" as gameon %}
{% import "templates/macros.jinja2" as macros with context %}
{% import "templates/views.jinja2" as views with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gem Swapper - Classic Match 3 Game!</title>
    <meta name="description"
          content="Classic Match 3, fun relaxed gem swapping game!">

    <meta name="keywords"
          content="gem swapper, match three">
    <meta property="og:title" content="">
    <meta property="og:url" content="http://gemswapper.app.nz">
    <meta property="og:image"
          content="http://gemswapper.app.nz/gem_02.png">
    <meta property="og:description"
          content="Classic Match 3, fun relaxed gem swapping game!">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="Gem Swapper">
    <meta property="fb:admins" content="337972272904903">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="manifest" href="/manifest.webapp">

    {{ macros.headers() }}

    {{ gameon.cssheaders() }}
    {{ macros.cssheaders() }}
    <style>
        .gem-iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
            max-width: 345px;
        }

        @media (min-height: 600px) {
            .gem-iframe {
                max-width: 405px;
            }
        }
        @media (min-height: 800px) {
            .gem-iframe {
                max-width: 545px;
            }
        }

        body {
            margin: 0;
            padding: 0;
        }

    </style>

    {{ gameon.jsheaders() }}

    {{ macros.jsvars() }}
    {{ macros.jsheaders() }}
</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=138831849632195";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="mm-like">
    <div class="fb-like" data-href="http://www.multiplicationmaster.com" data-width="400px"
         data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

<iframe src="/index.html" class="gem-iframe" height="100%" seamless="seamless"></iframe>

{% if not noads %}
    <div class="mm-responsivead-bottom navbar-fixed-bottom">
        <button class="mm-hide-btn btn btn-info btn-lg">Hide</button>
        {{ macros.responsiveAd() }}
    </div>
    <div class="mm-responsivead-right navbar-fixed-bottom">
        {{ macros.responsiveAd() }}
    </div>
{% endif %}


</body>
</html>
